.scroll__top-top-parent{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 55!important;
}

.scrollToTopBTn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    transition: 0.3s ease;
    font-size: 20px;
    z-index: 55!important;
    border: none;
    background: var(--mainColor);
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

.opacity-100{
    opacity: 1;
}

.opacity-0{
    opacity: 0;
}

@media screen and (max-width: 375px) {
    .scroll__top-top-parent{
        bottom: 20px;
    }
    .scrollToTopBTn{
        font-size: 15px;
        padding: 8px 10px;
    }
}